@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico&display=swap');
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: sans-serif;
}
.banner-form{
	margin-top: -100px;
	position: relative;
	z-index: -1;
}
.banner-form:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
	top: 0px;
}
.banner-form__img{
	width: 100%;
	height: 190px;
	object-fit: cover;
}
.datagrid table { 
	border-collapse: collapse; 
	width: 100%; 
} 
#buscar{
	text-align: right;
}
.datagrid {
	background: #fff; 
	overflow: hidden; 
}
.datagrid table td, .datagrid table th { 
	padding: 10px 20px; 
}
.datagrid table thead th {
	text-align: center;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F33A1D), color-stop(1, #F33A1D) );
	background:-moz-linear-gradient( center top, #F33A1D 5%, #F33A1D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F33A1D', endColorstr='#F33A1D');
	background-color:#F33A1D; 
	color:#FFFFFF; 
	font-size: 14px; 
	font-weight: bold; 
} 
.datagrid table thead th:first-child { 
	border: none; 
}
.datagrid table tbody td { 
	color: #000000; 
	font-size: 12px;
	font-weight: normal; 
}
.datagrid table tbody .alt td { 
	background: #F4E2B9; 
	color: #000000; 
}
.datagrid table tbody td:first-child { 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}
.datagrid table tfoot td div { 
	border-top: 1px solid #F33A1D;
	background: #F4E2B9;
} 
.datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px 
} 
.datagrid table tfoot td div{ 
	padding: 5px; 
	}
.datagrid table tfoot td ul { 
	margin: 0; 
	padding:0; 
	list-style: none; 
	text-align: right; 
}
.datagrid table tfoot  li { 
	display: inline;
}
.datagrid table tfoot li a { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F33A1D), color-stop(1, #F33A1D) );
	background:-moz-linear-gradient( center top, #F33A1D 5%, #F33A1D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F33A1D', endColorstr='#F33A1D');
	background-color:#F33A1D; 
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
	text-decoration: none;
	border-color: #FFFFFF; 
	color: #FFFFFF; 
	background: none; 
	background-color:#FF1B00;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
	position: fixed !important; 
}

.lbl-style{
	padding-left: 10px;
	padding-top: 5px;
	position: absolute;
	color: #F33A1D;
}
/*------------------------------*/
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select select::-ms-expand {
    display: none;
}
.content-select{
	max-width: 300px;
	position: relative;
	margin-bottom: 10px;
}
.content-select select{
	display: block;
	width: 300px;
	cursor: pointer;
  	padding: 7px 20px;
  	height: 40px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.content-select select:hover{
	background: #B1E8CD;
}
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
.content-select:hover i{
	margin-top: 3px;
}
/*------------------------------*/
.form-text, .form-texth {
	text-align: center;
	display: block;
	width: 300px;
	font-size: 1em;
	padding: 15px;
	background: #f0f0f0;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
	margin-bottom: 10px;
}
.form-text{
	height: 4%;
}
.form-texth{
	height: 150px;
	animation: none;
	text-align: justify;
}
.foto_art{
	height: 55px;
	width: 55px;
}
.form-submit{
	font-size: 1em;
	display: block;
	width: 200px;
	height: 40px;
	background: #F33A1D;
	color: white;
	cursor: pointer;
	border: none;
	margin-left: 50px;
	border-radius: 12px;
}
.form-search{
	text-align: right;
	width: 300px;
	font-size: 1em;
	padding: 15px;
	background: rgba(0, 0, 0, .1);
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;	
}
/*-----------------------boton guardarIMG---------------------*/
.img_lbl{
	text-align: center;
	margin-top: -20px;
	display: block;
	width: 300px;
	padding: 15px;
	background: #F33A1D;
	color: white;
	border-radius: 12px;
	transition: .3s;
	margin-bottom: 10px;
}
.img_lbl:hover{
	background: #F33A3D;
	cursor: pointer;	
}
#imagen {
	visibility: hidden;	
}
.icon-cargar{
	color: white;
	margin-right: 10px;
}

/*-----------------------boton guardarIMG---------------------*/
#icon{
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2em;
	width: 35px;
	height: 35px;
}
a{
	text-decoration: none;
}
.icon-search{
	margin-right: -30px;
}
/*------------------------modal------------------------*/
.modal{
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000000;
	display: none;
}
.modal__content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.modal__img{
	width: 50%;
}
.modal__boton{
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #F33A1D;
	font-size: 1.7em;
	text-align: center;
	border-radius: 50%;
	font-family: monospace;
}
.modal--open{
	display: block;
}
/*------------------------modal------------------------*/
.form-style{
	height: 600px;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 50px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
	background-color: #A7A1A9;
	border-radius: 12px;
	opacity: .9;
}
.form-user-style{
	height: 90%;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 50px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
	background-color: #A7A1A9;
	border-radius: 12px;
	opacity: .9;
}
.formulario__titulo{
	font-size: 1.8em;
	color: #F33A1D;
	font-family: 'Pacifico', cursive;
	font-weight: 100;
	text-align: center;
	margin-top: -40px;
	padding-bottom: 10px;
}